html, body {
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Roman", "Helvetica", "Open Sans", sans-serif;
}

body {
  font-size: 1.3rem;
  color: #404040;
  margin: 0;
}
  
h3 {
    font-size: 24px;
    line-height: 10px;
    color : black;
    vertical-align: middle;
}

input, button, textarea {
    font-size: 1.3rem;;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: hidden;
}

.list-container {
    position: fixed;
    height: 100%;
    width: 17.4%;
    overflow-y: auto;
    border-right: 1px solid black;
}

.list-heading {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid black;
}

.list-area {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.list-title-container {
    margin-top: 8px;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.list-title {
  width: 75%;
}

.list-button-div {
    position: relative;
    bottom: 25px;
}

.deleteIcon {
    background: url('../icons/trash.svg');
    display: block;
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 2px;
}

.input-list-area {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 17.3%;
    border: 1px solid black;
}

.list-name-input {
    padding: 7px;
    float: left;
    width: auto;
}

.add-list-name {
    padding: 8px;
    width: 21.5%;
}

.task-container {
  width: 82.6%;
  height: 100%;
  margin-left: 300px;
  overflow-y: auto;
}

.task-input-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 45px;
    margin-left: 170px;
} 

.task-add-button {
    margin-top: 6px;
    padding: 13px;
}
.task-type {
    height: 55px;
    margin-left: 8px;
    top: 4px;
    position: relative;
}

.task-input-container {
    margin-left: 7px;
    width: 800px;
    height: 55px;
}

.task-text-input {
    width: 100%;
    height: 100%;
}

.task-image-input {
    margin-top: 20px;
    font-size: 1rem;
}

.task-list-container {
    width: 995px;
    margin-left: 170px;
    margin-top: 50px;
}

.task-details-container {
  padding: 15px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.task-checkbox {
    margin: 5px;
    text-align: center;
    float: left;
}

.task-text-details {
    margin-left: 20px;
    display: inline-block;
    word-wrap: break-word;
    width: 800px;
    cursor: pointer;
}

.task-image-details {
    margin-left: 20px;
    width: 800px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.taskLineThrough {
    text-decoration: line-through;
}

.task-button-div {
    text-align: center;
    display: inline-block;
}

.active-list {
    background-color: lightgray;
}

.show {
    display: inline-block;
}

.hide {
    display: none !important;
}

.floatLeft {
  float: left;
} 

.floatRight {
  float: right;
}